<style>
    body {
        background-image: url(images/backgroundfilmes.jpg);
        color:#FFFFFF;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    a {
        color:#13E3E9 ;
    }
    img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
</style>
<section>
	<div class="page-header container titulopagina" data-bind="foreach: actorsData">
        <h2><span data-bind="text: actorName"></span></h2>
    </div>
	<div class="container">
		<button type="button" class="btn btn-default" onClick="history.go(-1)"><i class="fa fa-arrow-left" aria-hidden="true"></i></button> 
	<div class="row">
	<div class="col-lg-5 col-xs-12" data-bind="foreach: actorsData">
		<table class="table table-bordered" style="text-align: center; background-color: #525252;">
			<tr>
				<td><strong>Nome do ator/atriz: </strong></td>
				<td data-bind="text: actorName"></td>
			</tr>
			<tr>
				<td><strong>Facebook: </strong></td>
				<td> <span data-bind="text: actorFacebookLikes"></span> <i class="fa fa-thumbs-o-up" aria-hidden="true"></i></td>
			</tr>
			<tr>
				<td><strong>Filmes:</strong></td>
				<td>
					<div data-bind="foreach: actor_movies">
						<a data-bind="text: movie_title, attr: {href: '#moviesDetails/'+movieID}"></a><br/>
					</div>
				</td>
			</tr>
		</table>
	</div>
	<div class="col-lg-7 col-xs-12" data-bind="foreach: actorsData">
		<img data-bind="attr: {src: photo}">
	</div>
	</div>
</div>
</section>