<style>
    body {
        background-image: url(images/backgroundfilmes.jpg);
        color:#FFFFFF;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;

    }
    a {
        color:#13E3E9 ;
    }
    
</style>
<section>
	<div class="page-header container titulopagina">
		<h2>Atores - <small data-bind="visible: (actorsCount() > 0)"><i class="fa fa-users"></i> [<span data-bind="text: actorsCount"></span>]</small></h2>
	</div>
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-2">
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1">Nome: </span>
						<input type="text" id="actorTitle" class="form-control" data-bind="value : searchText" aria-describedby="basic-addon1" placeholder="Introduza o nome do ator/atriz" />
						</div>
					</div>
					<div class="col-md-2 col-xs-12 text-center">
						<button class="btn btn-default" id="searchBtn" data-bind="click: searchActors, disable : searchTextGood"><i class="fa fa-search"></i></button>
						<button class="btn btn-default" id="clearSearchBtn" data-bind="click : clearActors"><i class="fa fa-trash-o"></i></button>
					</div>
				</div>
				<hr />
				<div class="row" data-bind="foreach: actors">
					<div class="col-md-3">
						<div><i class="fa fa-user"></i> <a data-bind="attr: { href : '#actorsDetails/'+actorID}, text: actorName"></a></div>
					</div>
				</div>
				<div id="alerta" class="hidden alert alert-danger col-md-12">Resultados não encontrados</div>
			</div>
		</div>
	   <div class="container">
        <hr/>
        <div><h6><i class="fa fa-copyright" aria-hidden="true"></i> 2016 - Francisco e Lucas</h6></div>
    </div>
</section>
