<style>
    body {
        background-image: url(images/backgroundfilmes.jpg);
        color:#FFFFFF;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    a {
        color:#13E3E9 ;
    }
    img{
    	height: 100px;
    	width: 100px;
    }
</style>
<section>
	<div class="page-header container titulopagina">
        <h1>Contactos</h1>
    </div>
	<div class="container ">
		<div class="row">
			<button type="button" class="btn btn-default" onClick="history.go(-1)"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
		</div>
		<div class="container row">
		<div class="col-lg-3 center-block">
			<img src="images/francisco.jpg" alt="25">
		</div>
			<div class="titulopagina col-lg-6">
				<h3>Sobre nós:</h3>
				<h5>Francisco Silveira - Nº MEC: 84802  <a href="https://www.facebook.com/francisco.silveira.733"><i class="fa fa-facebook-square" aria-hidden="true"></i></a><br/><br/>
				Lucas Barros - Nº MEC: 83895  <a href="https://www.facebook.com/lucas.frbarros"> <i class="fa fa-facebook-square" aria-hidden="true"></i></a>
				</h5>
				<br/>
				<h4>
					Sigam-nos no facebook ! <i class="fa fa-smile-o" aria-hidden="true"></i> <i class="fa fa-thumbs-o-up" 	aria-hidden="true"></i>
				</h4>
			</div>
		</div>
		<div class="col-lg-3">
			<img src="images/lucas.jpg" alt="25">
		</div>
	<div class="container">
        <hr/>
        <div><h6><i class="fa fa-copyright" aria-hidden="true"></i> 2016 - Francisco e Lucas</h6></div>
    </div>
</section>
