<style type="text/css">
	h1 {font-family: "Times New Roman";font-size: 50px; color:grey;}
	.jumbotron {
		height:500px;
		background-color:;
	}
	#info {
		background-color:#5F4B4B;
	}
	body {background-image:url(images/papel_de_fundo.jpg); 
    background-repeat: no-repeat;
    background-attachment: fixed;
        background-size: cover;
  }
	h2 {color:#2E2121; font-family: "Times New Roman"}
	img {
		height:500px;
		width:100%;
	}
	.carousel-inner > .item > img,
  	.carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
      height: 600px;
  }
</style>

<section>

<br/>
	<div class="page-header container titulopagina">
		<h1> Bem vindo ao nosso site!!</h1>
		<div class="" >
<div class="container">
  <br>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="images/gameofthrones.jpg" alt="Chania" height="5px">
      </div>

      <div class="item">
        <img src="images/hobbit.jpg" alt="Chania" >
      </div>
    
      <div class="item">
        <img src= "images/oliver.png" alt="Flower">
      </div>

      <div class="item">
        <img src="images/Harry_Potter.jpg" alt="Flower">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
		</div>
    <br/>
		<div id="info" class="panel panel-default">
 			 <div id="info" class="panel-heading">
 				 <div id="info" class="panel-title"> <h2 id="ss"><small class="text-muted">Todas as informações sobre filmes, realizadores, atores,</small> saiba mais!! </h2> </div>
			 	 <div class="panel-body"> 

			 	 </div>
			 	 </div>
			 	 </div>
	</div>
</section>