<style type="text/css">
	h1 {
    font-size: 50px; color:grey;}
	.jumbotron {
		height:500px;
		background-color:;
	}
	#info {
		background-color:#303030;
	}
	body {background-image:url(images/papel_de_fundo.jpg); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  h1, h2, ul {color:white;}
  img {
    height:500px;
    width:100%;
  }
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
    height: 100%;
  }
</style>

<section>

  <br/>
  <div class="page-header container titulopagina">
    <h1 style="color: white"> Francisco e Lucas</h1>
    <h3 style="color: #C3C3C3"> Pesquisa de filmes</h3>
    <div class="" >
      <div class="container">
        <br>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="images/oliver.png" alt="Chania" height="5px">
            </div>

            <div class="item">
              <img src="images/hobbit.jpg" alt="Chania" >
            </div>

            <div class="item">
              <img src= "images/katniss.jpg" alt="Flower">
            </div>

            <div class="item">
              <img src="images/Harry_Potter.jpg" alt="Flower">
            </div>
          </div>

          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
    <br/>
    <div id="info" class="panel panel-default">
     <div id="info" class="panel-heading">
      <div id="info" class="panel-title"> <h1>Todas as informações sobre filmes, realizadores, atores e muito mais ! </h1> </div>
      <div class="panel-body">
        <div class="col-lg-3"><img src="images/homealone.jpg" style="height: 300px;" /></div> 
        <div class="col-lg-6">
          <h2>Neste site pode efetuar pesquisa por:
            <ul><br/>
              <li>Filmes</li>
              <li>Atores</li>
              <li>Realizadores</li>
              <li>Géneros</li>
              <li>Linguagens</li>
              <li>Países</li>
            </ul>
          </h2>
        </div>
        <div class="col-lg-3">
          <img src="images/nemo.jpg" style="height: 300px;"/>
        </div>
      </div>
    </div>
  </div>
</div>
</section>